{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Doctor Appointments</title>
<link rel="stylesheet" href="{% static "css/appointment.css" %}">
{% endblock  %}

{% block content %}
<h3>My Appointments :</h3>

{% if appointments %}
  <ul>
  {% for appointment in appointments %}
    <li>
      Patient: {{ appointment.patient.username }} |
      Date: {{ appointment.date }} |
      Time: {{ appointment.time }}
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>No appointments found.</p>
{% endif %}
{% endblock %}
