<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rateel-Clincs </title>
</head>
<body>
    <a href="{% url 'homepage' %}"> | Home </a>
    <a href="{% url 'appointment_create' %}"> | Book Appointment</a>
    <a href="{% url 'appointment_list' %}"> | Appointments </a>
    <a href="{% url 'doctor_list' %}"> | Doctors </a>
    <a href="{% url 'login' %}"> | Login </a>
    <a href="{% url 'signup' %}"> | SignUp </a>
    <form method='post' action="{% url 'logout'%}" id='logout-form'>
        {% csrf_token %}
        <button>Logout</button>
    </form>
    {% block content %}
    {% endblock  %}
</body>
</html>